<nav class="nav @@class">
  <a href="#" class="nav__logo">
    <img src="img/logo/logo_white.png" alt="logo" />
  </a>
  <ul class="nav__menu menu">
    <li class="menu__item">
      <a href="" class="menu__link"> À la carte</a>
    </li>
    <li class="menu__item">
      <a href="" class="menu__link">Wijnkaart</a>
    </li>
    <li class="menu__item">
      <a href="" class="menu__link">Lunchmenu</a>
    </li>
    <li class="menu__item">
      <a href="#contact" class="menu__link">Contact</a>
    </li>
  </ul>
  <a href="tel:+3292825725" class="nav__link">+32 9 282 57 25</a>

  @@include('../bem-blocks/_mobile-menu.html', { class: "nav__mobile-menu ", })
</nav>
