.action-group
  display: flex
  justify-content: space-between
  &__social-group
    display: flex
    justify-content: space-between
    align-items: center
    width: 267px

    .social-group__link
      @include social-links
      @include links
      &:hover
        transition: 0.3s
        color: #D3B47F
        text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5)
        border-color: #D3B47F
