<header class="header">
  <div class="container">
    <div class="header__wrapper">
      @@include('../bem-blocks/_nav.html',{ class: "header__nav" })
      <div class="header__headlines">
        <h2 class="header__subtitle">OPEN EVERYDAY 6AM - 9PM</h2>
        <h1 class="header__title">
          A&nbsp;bad day with lunch is&nbsp;better than a&nbsp;good day
          without&nbsp;it
        </h1>
      </div>
      <!-- /.header__headlines -->
      <div class="header__action-group action-group">
        <button class="header__btn">Reserve a table</button>
        @@include('../bem-blocks/_social-group.html', { class:
        "action-group__social-group", })
      </div>
      <!-- /.header__action-group -->
      <div class="header__modal modal">
        <div class="modal__overlay">
          <div class="modal__content">
            <button class="modal__close-btn">
              <img src="img/icons/close.svg" alt="close button" />
            </button>
            <h3 class="modal__title">Reserve a table</h3>

            <form
              action="/apply/"
              method="POST"
              class="modal__form reserve-form"
            >
              <div class="reserve-form__wrapper">
                <label for="name" class="reserve-form__label">Name</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Input your name"
                  required
                  class="reserve-form__input"
                />
              </div>
              <div class="reserve-form__wrapper">
                <label for="mail" class="reserve-form__label">Email</label>
                <input
                  type="email"
                  id="mail"
                  name="email"
                  placeholder="Input your e-mail"
                  required
                  class="reserve-form__input"
                />
              </div>
              <!-- /.reserve-form__wrapper -->

              <textarea
                id="message"
                cols="10"
                rows="10"
                placeholder="Input your message"
                name="message"
                required
                class="reserve-form__text"
              ></textarea>
              <button type="submit" class="reserve-form__btn">Send</button>
            </form>
          </div>
          <!-- /.madal__content -->
        </div>
        <!-- /.modal__overly -->
      </div>
      <!-- /.header__modal -->
    </div>
    <!-- /.header__wrapper -->
  </div>
  <!-- /.container -->
</header>
